:root {
  --color-page: #e5e5e5;
  --color-text-on-page: #000000;
  --color-form: #ffffff;
  --color-button-border: var(--color-text-on-page);
  --color-button-page-bg: var(--color-text-on-page);
  --font-family: "Outfit", sans-serif;
  --color-button: #ffa789;
}

.form {
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  width: 400px;
  background-color: var(--color-form);
}

.delete-button {
  color: red;
  font-size: 40px;
  cursor: pointer;
}

.edit-button {
  font-size: 30px;
  cursor: pointer;
}

#span-error {
  margin: 0px;
  font-size: small;
  color: red;
}

.home {
  background-color: var(--color-page);
  font-family: var(--font-family);
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
  flex-direction: column;
}

.form__title {
  font-size: 37px;
  font-weight: bold;
}

.form__button {
  background-color: var(--color-text-on-page);
  width: 100%;
  font-size: 18px;
  text-align: center;
  color: var(--color-form);
  border-radius: 5px;
  margin-bottom: 10px;
  padding: 10px;
}

.form__field {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}

.form__field:last-child {
  margin-bottom: 40px;
}

.form__field-input {
  padding: 10px;
  line-height: 28px;
  border-radius: 5px;
  font-size: 17px;
}

.form__label {
  font-size: 20px;
}

.form__link a {
  cursor: pointer;
  color: var(--color-text-on-page);
  font-weight: bold;
}

.error {
  font-size: small;
  font-style: italic;
  color: red;
}

.form__link {
  display: flex;
  justify-content: center;
  margin: 10px auto auto auto;
}

.home__div--right {
  display: flex;
  justify-content: left;
  width: 61%;
}
