@import "./base.css";

.div__right {
  display: flex;
  justify-content: right;
}

.employee__home-button {
  width: 15%;
  display: flex;
  justify-content: space-evenly;
}

.employee-form {
  width: 20%;
}

.employee-form__fields {
  padding: 20px;
}

.employee-form__fields .form__title--smaller {
  margin: 0;
}

.book-button {
  cursor: pointer;
}

.button {
  background-color: var(--color-button);
  width: 15%;
  padding: 12px;
  display: flex;
  font-size: 16px;
  justify-content: space-around;
  cursor: pointer;
}

#error-message {
  text-align: center;
  color: red;
}
