<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/view_drivers.css') }}" />
  <link rel="stylesheet" href="{{ url_for('static', filename='css/employee_homepage.css') }}">

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
</head>

<body class="home">
  <div class="home__div--right">
    <p id="admin-name"></p>
  </div>
  {% block body %}
  <form class="home__form-add employee-form" id="see-avaliable-rides" data-id="{{id}}" style="display: none;">
    <p id="error-message"></p>
    <div class="form__fields employee-form__fields">
      <p class="form__title--smaller">Book Ride</p>
      <div class="form__field--smaller">
        <p>Day</p>
        <select id="employee-ride-day" class="form__field-input--smaller">
          <option value="" disabled selected>Day</option>
          {% for day in days %}
          <option value="{{day}}">{{day}}</option>
          {% endfor %}
        </select>
      </div>
      <div>
        <p> Route </p>
        <select id="employee-ride-start-point" class="form__field-input--smaller">
          <option value="" disabled selected>Start Point</option>
          {% for route in routes %}
          <option value="{{route['destination']}}"> {{route['destination']}}</option>
          {% endfor %}
        </select>
        <select id="employee-ride-end-point" class="form__field-input--smaller">
          <option value="" disabled selected>End Point</option>
          {% for route in routes %}
          <option value="{{route['destination']}}"> {{route['destination']}}</option>
          {% endfor %}
        </select>
      </div>
      <div class="form__field--smaller">
        <p> Shift </p>
        <select id="employee-ride-shift" class="form__field-input--smaller">
          <option value="" disabled selected>Shift</option>
          {% for shift in shifts %}
          <option value="{{shift}}">{{shift}}</option>
          {% endfor %}
        </select>
      </div>
      <div class="form__field--smaller right">
        <button type="submit" id="see-avaliable-rides" class="form__button--smaller">See Avaliable</button>
      </div>

    </div>
  </form>
  <div class="form home-employee__avaliable-rides-wrapper" id="avaliable-rides-wrapper">
    <button class="home__button employee__home-button" type="button" id="avaliable-ride-form-button">
      <i class="bi bi-plus-circle"></i>
      Book Ride
    </button>
  </div>
  <script type="module" src="{{ url_for('static', filename='js/employee-homepage.js') }}"></script>
  {% endblock %}
</body>

</html>