{% extends "employee_homepage.html"%}
{% block body %}
<div class="employee">
    {% for ride in booked_rides %}
    <div class="employee__booked-ride-wrapper" data-id="{{ride['id']}}">
        <p class="employee__booked-ride-day">Day: {{ride["day"]}}</p>
        <p class="employee__booked-ride-day">Shift: {{ride["shift"]}}</p>
        <p class="employee__booked-ride-startpoint">Start Point: {{ride["start_point"]}}</p>
        <p class="employee__booked-ride-endpoint">End Point: {{ride["end_point"]}}</p>
        <button type="button" class="employee__booked-ride-button" data-id='{{ride["id"]}}'>Delete</button>
    </div>
    {% endfor %}
</div>

<script type="module" src="{{ url_for('static', filename='js/employee-booked-rides.js' ) }}"></script>
{% endblock %}