<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/employee_homepage.css') }}">
</head>

<body class="home-employee">
  {% block body %}
  <form class="home-employee__form" id="see-avaliable-rides" data-id="{{id}}">
    <p id="error-message"></p>
    <div>
      <label>Day</label>
      <select id="employee-ride-day">
        <option value="" disabled selected>Day</option>
        {% for day in days %}
        <option value="{{day}}">{{day}}</option>
        {% endfor %}
      </select>
    </div>
    <div>
      <label> Start Point </label>
      <select id="employee-ride-start-point">
        <option value="" disabled selected>Start Point</option>
        {% for route in routes %}
        <option value="{{route['destination']}}"> {{route['destination']}}</option>
        {% endfor %}
      </select>
      <select id="employee-ride-end-point">
        <option value="" disabled selected>End Point</option>
        {% for route in routes %}
        <option value="{{route['destination']}}"> {{route['destination']}}</option>
        {% endfor %}
      </select>
    </div>
    <div>
      <label> Shift </label>
      <select id="employee-ride-shift">
        <option value="" disabled selected>Shift</option>
        {% for shift in shifts %}
        <option value="{{shift}}">{{shift}}</option>
        {% endfor %}
      </select>
    </div>
    <button type="submit" id="see-avaliable-rides">See Avaliable</button>
    <!-- <button type="submit" id="employee-book-button" data-id="{{id}}">Book Ride</button> -->
  </form>
  <div class="home-employee__avaliable-rides-wrapper" id="avaliable-rides-wrapper">

  </div>
  <script type="module" src="{{ url_for('static', filename='js/employee-homepage.js') }}"></script>
  {% endblock %}
</body>

</html>