<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    {% block body %}
    <form action="/login" method="post" id="form-login">
        <input type="text" name="user_name" placeholder="username" id="user-name">
        <input type="password" name="password" placeholder="password" id = "user-id">
        <button type="submit">login</button>
    </form>
    <a href="/register">Register</a>
    {% endblock %}
    {% if message %}
    <p>{{message}}</p>
    {%endif%}
    <script src="static/js/login-register.js"></script>
</body>

</html>