{% extends "homepage.html" %} {% block body %}

<form id="form-register" autocomplete="off" class="form">
  <p id="register-message" class="register__paragraph"></p>
  <p class="form__title">Lets Register Account </p>
  <div class="form__fields">
    <div class="form__field">
      <input placeholder="Email" id="email-register" class="form__field-input" />
    </div>
    <div class="form__field">
      <input type="password" placeholder="Password" id="password-register" class="form__field-input" />
    </div>
    <div class="form__field">
      <input type="text" placeholder="Name" id="username-register" class="form__field-input" />
    </div>
  </div>
  <div class="form-register__field" class="form__field-input">
    <button type="submit" class="form__button">Register</button>
  </div>
  </div>
  <div class="form__link">
    Already have an account?
    <a href="/login"> Login </a>
</form>
{%endblock%}